<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Untitled Custom SSG</title>
</head>
<body>
  <h1>{{ .Heading }}</h1>
  {{ with .Content }}
    {{ range . }}
      <p>{{ .Data }}</p>
    {{ end }}
  {{ end }}
</body>
</html>
